
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-weight-bold {
  font-weight: bold;
}

.card {
  border: none;
}

.img-thumbnail{
  width: 189px;
  height: 200px;
}
.card-header {
  border-radius: 3px;
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
  background: #fff;
}

.card .card-header.card-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card-plain {
  background: transparent;
  box-shadow: none;
}
.card-product {
  margin-top: 30px;
}
.card.no-shadow .card-header-image, .card.no-shadow .card-header-image img {
  box-shadow: none !important;
}
